.form-group {
    border-radius: 50px;
    // margin-top: ;
    background-image: radial-gradient(#2c36c7c2, #2c2f5796); ;
    padding: 20px;
    box-shadow: 4px 3px 10px 0 rgba(107, 106, 106, 0.1);
}