.blog-comment {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    height: 20rem;
    bottom: auto;
    transform: translateY(5%);
    background-color: rgba(146, 144, 144, 0.322);
}

.button-send-comment {
    background-color: rgba(49, 163, 240, 0.911);
    color: white;
    border: 2px solid rgba(49, 163, 240, 0.911);
    &:hover {
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    }
}

.div-send-comment {
    // background-image: none;
    // backface-visibility: ;
    width: 70%;
    margin: 0 auto;
}